@using DotNetSale.Services
@inject CopyrightService CopyrightService

<h2>/DependancyInjectionDemo/AtInjectDemo</h2>

<a asp-area="" asp-controller="DependancyInjectionDemo" asp-action="Index">Index</a>
<a asp-area="" asp-controller="DependancyInjectionDemo" asp-action="About">About</a>
<a asp-area="" asp-controller="DependancyInjectionDemo" asp-action="AtInjectDemo">AtInjectDemo</a>

<hr />


<p>
    &copy; @CopyrightService.CopyrightString
</p>

<p>
    &copy; @CopyrightService.GetCopyrightString();
</p>
