<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotNetSale</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DotNetSale</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item d-sm-none d-md-none d-lg-block">
                            <a class="nav-link text-dark text-nowrap" asp-area="" asp-controller="Articles" asp-action="Index">아티클</a>
                        </li>
                        <li class="nav-item d-sm-none d-md-none d-lg-block">
                            <a class="nav-link text-dark text-nowrap" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-nowrap" asp-area="" asp-controller="DotNetNote" asp-action="Index">게시판</a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle nav-link text-dark" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                실습
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="Company" asp-action="Index">Company</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                                <a class="dropdown-item" asp-area="" asp-controller="DotNetSale" asp-action="Index">DotNetSale</a>
                                <a class="dropdown-item" asp-area="" asp-controller="HelperMethodDemo" asp-action="Index">HelperMethodDemo</a>
                                <a class="dropdown-item" asp-area="" asp-controller="FormValidationDemo" asp-action="Index">FormValidationDemo</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle nav-link text-dark" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                웹앱
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="Idea" asp-action="Index">아이디어앱</a>
                                <a class="dropdown-item" asp-area="" asp-controller="WebCamp" asp-action="Index">웹캠프</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CommunityCamp" asp-action="Index">커뮤니티캠프</a>
                                <a class="dropdown-item" href="/Todo">MVC - 인메모리 TODO</a>
                                <a class="dropdown-item" href="/api/Todos" target="_blank">REST - 인메모리 TODO</a>
                                <a class="dropdown-item" href="~/Maxim/Default.html">명언 서비스</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Modules/Attendee/Index">모듈: 참석자 관리(AttendeeApp)</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Urls" asp-action="Index">미니프로젝트: 도메인 관리자</a>
                                <a class="dropdown-item" asp-controller="RecruitManager" asp-action="Index">미니프로젝트: 모집 관리자</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle nav-link text-dark" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                책
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-controller="Guide" asp-action="Index">학습 가이드</a>
                                <a class="dropdown-item" asp-controller="Errata" asp-action="Index">정오표</a>
                            </div>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - DotNetSale - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
