<a asp-area="" asp-controller="ViewComponentDemo" asp-action="Index">Index</a>
<a asp-area="" asp-controller="ViewComponentDemo" asp-action="CopyrightDemo">CopyrightDemo</a>
<a asp-area="" asp-controller="ViewComponentDemo" asp-action="TechListDemo">TechListDemo</a>
<a asp-area="" asp-controller="ViewComponentDemo" asp-action="SiteListDemo">SiteListDemo</a>
<a asp-area="" asp-controller="ViewComponentDemo" asp-action="RecentlyCommentListDemo">RecentlyCommentListDemo</a>

<hr />
