<h1>/SingletonDemo/ConstructorInjectionDemo</h1>

사이트 URL: @ViewData["Url"]

<hr />

<a asp-area="" asp-controller="SingletonDemo" asp-action="Index">Index</a>
<a asp-area="" asp-controller="SingletonDemo" asp-action="ConstructorInjectionDemo">ConstructorInjectionDemo</a>
<a asp-area="" asp-controller="SingletonDemo" asp-action="InfoServiceDemo">InfoServiceDemo</a>

